<div class="page-container">
  <h2>Standards and compliance</h2>
  <p>Our baseline accessibility target is to meet <%= link_to("WCAG 2.1 AA standards", "https://www.w3.org/TR/WCAG21/?utm_source=library-search") %>. The last accessibility evaluation for MGet It was in September 2025.</p>
  <p>The next scheduled accessibility evaluation for this product is in 2027.</p>
  <h2>Feedback and support</h2>
  <p>We welcome your feedback and will do our best to resolve any issues promptly.</p>
  <p>If you encounter any accessibility issues while using this product or have questions, please contact us at <%= link_to("design-discovery@umich.edu", "mailto:design-discovery@umich.edu") %>.</p>
</div>
