<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<footer id="footer" class="footer">
  <div class="container">
    <div class="permalink-container permalink-footer">
      <label for="permalink-footer"><span class="hidden">Footer </span>Permalink:</label>
      <input
        class="permalink"
        name="permalink-footer"
        id="permalink-footer"
        type="text"
        readonly
        value="<%= request.permalink_url %>"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="viewport-container">
    <div class="footer__content">
      <section class="first-column">
        <h2>University of Michigan Library</h2>
        <ul>
          <li>
            <span class="material-symbols-rounded" aria-hidden="true">location_on</span>
            <a href="https://lib.umich.edu/">
              <address>
                913 S. University Avenue
                Ann Arbor, MI 48109-1190
              </address>
            </a>
          </li>
          <%# <li>
            <span class="material-symbols-rounded" aria-hidden="true">accessible_forward</span>
            <a href="/mget-it-accessibility-statement">MGet It Accessibility Statement</a>
          </li> %>
        </ul>
      </section>
    </div>
  </div>
  <div class="footer__disclaimer">
    <div class="viewport-container">
      <p>&copy; <%= Time.now.year %>, Regents of the University of Michigan</p>
    </div>
  </div>
</footer>
