<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<footer id="footer" class="footer">
  <div class="container">
    <div class="permalink-container permalink-footer">
      <label for="permalink-footer"><span class="hidden">Footer </span>Permalink:</label>
      <input
        class="permalink"
        name="permalink-footer"
        id="permalink-footer"
        type="text"
        readonly
        value="<%= request.permalink_url %>"
        autocomplete="off"
      />
    </div>
  </div>
</footer>
