.page-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}

// temp
body {
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin: 0;
}

.site-header {
  background: $main-1;
}
