.skip-links {
  background: var(--color-blue-400);
  padding: var(--space-small);
  margin: 0 auto;
}

.skip-links ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.skip-links ul li {
  margin: var(--space-medium) 0;
  text-align: center;
}

.skip-links a {
  color: #fff;
  padding: var(--space-x-small);
}

.skip-links:not(:focus-within) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
