.footer {
  background: $main-1;
  padding: 1rem 0;

  margin-top: 3rem;

  p, a {
    color: white;
    margin: 0;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    background: transparent;
  }
}
