body {
  background: $main-5;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin-bottom: 1.5rem;
}

.cover-image-container {
  float: right;
  margin-left: 1rem;
}

.citation-title {
  font-weight: 400;
  margin-top: 0;
  font-size: 1.5rem;
}

.short-divider {
  background: $grey-4;
  height: 2px;
  width: 6rem;
}

.citation-container {
  margin-top: 1rem;

  p {
    margin: 0;
  }
}

.citation-info {
  margin: 0;
}

.hide {
  display: none;
}

/*
  Tabs
*/

.tabs {
  list-style: none;
  margin: 2rem -1.5rem;

  border-bottom: solid 2px $grey-4;
}

.tab {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 1rem;

  a {
    display: inline-block;
    padding: 0.75rem 1rem;
    box-shadow: none;
    background: $grey-6;
    border: solid 2px $grey-4;
    color: $grey-1;
    margin-bottom: -2px;

    &:hover {
      background: $grey-5;
    }

    &:active {
      color: $grey-1;
    }
  }
}

.tab:first-child {
  margin-left: 1.5rem;
}

.tab-active a {
  background: transparent;
  color: $main-3;
  border-bottom-color: white;

  &:hover {
    background: white;
  }
}

@media (max-width: 42rem) {
  .tabs {
    margin: 0;
  }

  .tab {
    display: block;
    margin: 0;

    a {
      display: block;
    }
  }

  .tab:first-child {
    margin-left: 0;
  }

  .tab-active a {
    border-color: $grey-4;
  }
}

.link-resolver-sidebar {
  h2 {
    font-size: 1.25rem;
    margin-top: 0;
    font-weight: 500;
  }

  p {
    color: $grey-2;
    margin: 1rem 0;
  }

  .card {
    margin-bottom: 1rem;
    background: rgba(255,255,255,0.7);

    border: none;
    box-shadow: none;
  }

  .card-outline {
    background: transparent;
    border: solid 2px $grey-3;

    p {
      margin-bottom: 0;
    }
  }

}

.citation-info {
  dt, dd {
    display: inline-block;
    margin: 0;
  }

  dt {
    color: $grey-3;
    margin-right: 0.5rem;
  }
}

.mgetit-sources {

  border: none;

  thead {
    border: none;
    background: transparent;
  }

  .date-available,
  .button {
    white-space: nowrap;
  }

  td, th {
    vertical-align: middle;
    padding: 1rem 1rem 1rem 0;
  }

  th {
    color: $grey-1;
  }
}

.button-secondary {
  background: white;
  color: $grey-2;
  border: solid 2px $grey-4;
  padding: 0.5rem 1rem;

  &:hover {
    background: $grey-5 !important;
  }

  &:active {
    color: $grey-2 !important;
  }
}
