body {
  background: $main-5;
  min-width: 24rem;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin-bottom: 1.5rem;
}

.cover-image-container {
  float: right;
  margin-left: 1rem;
}

.citation-title {
  font-weight: 400;
  margin-top: 0;
  font-size: 1.5rem;
}

.short-divider {
  background: $grey-4;
  height: 2px;
  width: 6rem;
}

.citation-container {
  margin-top: 1rem;

  p {
    margin: 0;
  }
}

.citation-info {
  margin: 0;
}

.link-resolver-sidebar {
  h2 {
    font-size: 1.25rem;
    margin-top: 0;
    font-weight: 500;
  }

  p {
    color: $grey-2;
    margin: 1rem 0;
  }

  .card {
    margin-bottom: 1rem;
    background: rgba(255,255,255,0.7);

    border: none;
    box-shadow: none;
  }

  .card-outline {
    background: transparent;
    border: solid 2px $grey-3;

    p {
      margin-bottom: 0;
    }
  }
}

.citation-info {
  dt, dd {
    display: inline-block;
    margin: 0;
  }

  dt {
    color: $grey-3;
    margin-right: 0.5rem;
  }
}

/*
  Fulltext sources
*/

.fulltext-sources {
  margin: 0;
  list-style: none;

  li {
    padding: 0;
  }
}

.fulltext-read-article,
.fulltext-go-to-journal {
  margin: 0;
  margin-right: 0.5rem;
}

.fulltext-go-to-journal {
  border: solid 2px $main-3;
  color: $main-3;
  background: white;
}

.fulltext-go-to-journal:hover,
.fulltext-go-to-journal:active {
  color: $main-3 !important;
  background: $main-6 !important;
}

.fulltext-source {
  margin-right: 0.5rem;
}

.fulltext-date {
  color: $grey-3;
}

.show-more {
  display: block;
  padding-top: 1.5rem;
}

@media (max-width: 46rem) {

  .fulltext-read-article,
  .fulltext-source,
  .fulltext-date,
  .fulltext-go-to-journal {
    display: block;
    margin-right: 0;
  }

  .fulltext-read-article,
  .fulltext-go-to-journal {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
}

/*
  Helper
*/

.hide {
  display: none;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}
