.permalink-container {
  display: flex;
  float: right;

  label {
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    margin: 0;
  }

  input {
    font-size: 0.9rem;
    height: 2.5rem;
    padding: 0.5rem;
    color: $grey-2;
    min-width: 17rem;
    border: none;
  }

  input[readonly] {
    color: $grey-1;
    cursor: text;
    background: $main-6;
  }

  @media (max-width: 40rem) {
    margin: 0.5rem 0;
    float: none;

    label {
      padding-left: 0;
    }
  }
}
