.permalink-container {
  display: flex;
  margin: 1rem 0;

  label {
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    padding-left: 0;
    margin: 0;
  }

  input {
    font-size: 0.9rem;
    height: 2.5rem;
    padding: 0.5rem;
    color: $grey-2;
    min-width: 17rem;
    border: none;
  }

  input[readonly] {
    color: $grey-1;
    cursor: text;
    background: $main-6;
  }

  &.permalink-header {
    float: right;
    margin: 0;

    @media (max-width: 42rem) {
      display: none;
    }
  }

  @media (min-width: 42rem) {
    &.permalink-footer {
      display: none;
    }
  }

  @media (max-width: 32rem) {
    display: block;

    input {
      width: 100%;
    }
  }
}
