.permalink-container {
  display: flex;
  float: right;

  label {
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    padding: 0.7rem;
  }

  input {
    font-size: 0.9rem;
    padding: 0.5rem;
    background: $grey-5;
    width: 10rem;
    min-width: 14rem;
  }
}
