<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<header class="site-header">
  <div class="container">
    <a href="lib.umich.edu" class="site-brand">
      <img src="http://www.lib.umich.edu/shared-files/graphics/logos/umlib_logo_white_72x442.png">
    </a>

    <div class="permalink-container">
      <label for="permalink">Permalink:</label>
      <input class="permalink" id="permalink" type="text" readonly value="<%= render_umlaut_permalink_url %>" />

      <button class="button button-clippy" data-clipboard-target="#permalink" data-clipboard-action="copy">
        <img class="clippy" src="assets/clippy.svg" alt="Copy to clipboard">
        <span class="clippy-text">Copy</span>
      </button>
    </div>

    <script>
      /*
        Permalink Clipboard Setup
      */
      (function() {

        var clipboard = new Clipboard('#permalink');

        clipboard.on('success', function(e) {
            console.log(e);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });

      })();
    </script>

    <div class="clearfix"></div>
  </div>
</header>
