<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<header class="site-header">
  <div class="container-fluid">
    <a href="lib.umich.edu" class="site-brand">
      <img src="http://www.lib.umich.edu/shared-files/graphics/logos/umlib_logo_white_72x442.png">
    </a>

    <div class="permalink-container">
      <label for="permalink">Permalink:</label>
      <input class="permalink" id="permalink" type="text" readonly value="<%= render_umlaut_permalink_url %>" />
    </div>

    <div class="clearfix"></div>
  </div>
</header>
