<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<% html_sections(:site_message).each do |section| %>
  <%= render_section(section) %>
<% end %>


<header class="site-header">
  <div class="container-fluid">

    <a href="http://umich.edu" class="site-brand-umich-block-m-logo">
      <img src="<%= asset_path('umich_block_m.png') %>" alt="University of Michigan"/>
    </a>
    <a href="/" class="site-brand-mlibrary-logo">
      <img src="<%= asset_path('mlibrary_logo.png') %>" alt="Library"/>
    </a>

    <div class="permalink-container permalink-header">
      <label for="permalink">Permalink:</label>
      <input class="permalink" id="permalink" type="text" readonly value="<%= render_umlaut_permalink_url %>" />
    </div>

    <div class="clearfix"></div>
  </div>
</header>
