<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="card" style="border-left: solid 4px #FFCB05;">
        <p style="margin-top: 0">
        <svg style="display: inline-block; fill: currentColor; vertical-align: top; color: #EABA02;" width="24px" height="24px" viewBox="0 0 24 24" class="" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg>
      Due to scheduled maintenance, links to content may be unavailable from 9 p.m. ET on Saturday, May 29, to 9 p.m. ET on Sunday, May 30. 
        </p>
      </div>
    </div>
  </div>
</div>
