- req = ::RequestPresenter.new(user_request)
- @page_title = req.title
- if req.unambiguous?
  h2.citation-title = req.title
  .short-divider
  .citation-container
    - if req.author.present?
      p.citation-metadata = "By: #{req.author}"

    - if req.date.present?
      p.citation-metadata
        span.citation-label Publication Date:
        =< req.date

    - if req.container_title.present?
      p.citation-metadata
        span.citation-label #{req.container_type}:
        =< "#{req.container_title}"

    - if req.volume.present?
      p.citation-metadata
        span.citation-label #{t('umlaut.citation.volume').titlecase}:
        =< req.volume

    - if req.issue.present?
      p.citation-metadata
        span.citation-label #{t('umlaut.citation.issue').titlecase}:
        =< req.issue

    - if req.page.present?
      p.citation-metadata
        span.citation-label #{t('umlaut.citation.page').titlecase}:
        =< "#{req.page}"

    - if req.issn.present?
      p.citation-metadata
        span.citation-label ISSN:
        =< req.issn

    - if req.isbn.present?
      p.citation-metadata
        span.citation-label ISBN:
        =< req.isbn

    - if req.type.present?
      p.citation-metadata
        span.citation-label Resource:
        =< "#{req.type.titlecase}"

    - if req.pmid.present?
      p.citation-metadata
        span.citation-label PMID:
        =< "#{req.pmid}"

    - if req.doi.present?
      p.citation-metadata
        span.citation-label DOI:
        =< "#{req.doi.titlecase}"
