<% if disambiguation_bundle.any? %>
  <h3 class="disambiguation-title">Multiple Matches</h3>
  <p>We have multiple matches of your citation. Please check the following results and choose the correct citation.</p>
  <ol class="disambiguation-list">
  <% disambiguation_bundle.each do |bundle| %>
  <li>
    <p>
      <%= link_to(
            bundle.service_data[:metadata]["title"] || bundle.service_data[:metadata]["source"],
            {controller: 'resolve'}.merge(bundle.service_data[:query])
          )
      %><br />
      <%= [
            bundle.service_data[:metadata]["creator"],
            bundle.service_data[:metadata]["title"] && bundle.service_data[:metadata]["source"],
            bundle.service_data[:metadata]["date"]
          ].compact.join(', ')
      %>
    </p>
  </li>
  <% end %>
  </ol>

<% end %>

<!--

Author
Journal Volume Issue Page Date
ISSN
Format

-->
