<% unless not_available_online.empty? %>
<div class="card">
  <h2>Not available online?</h2>

  <% if not_available_online[0].url %>
  <p>
    <a href="<%= not_available_online[0].url %>">Search the catalog</a>
  </p>
  <% end %>

  <% if not_available_online[1].url %>
  <a href="<%= not_available_online[1].url %>">Request to have a copy delivered</a> <span class="small-help-text">(Interlibrary Loan, 7Fast)</span>
  <% end %>
</div>
<% end %>
