<% unless not_available_online.length < 2 %>
<div class="card">
  <h2>Not available online?</h2>

  <% if not_available_online[0].url %>
  <p>
    <%= link_to('Search the catalog', {controller: 'link_router', id: not_available_online[0].id}) %>
  </p>
  <% end %>

  <% if not_available_online[1].url %>
    <%= link_to('Request to have a copy delivered', {controller: 'link_router', id: not_available_online[1].id}) %>
    <span class="small-help-text">(Interlibrary Loan, Document Delivery)</span>
  <% end %>
</div>
<% end %>
