<div class="card">
  <h2>Not available online?</h2>

  <p>
    <a href="<%= not_available_online[0].url %>">Search the catalog</a>
  </p>

  <a href="<%= not_available_online[1].url %>">Order a copy delivered</a>
</div>
