<% site_message.each_with_index do |message, i| %>
  <% id = "site-message-#{i}" %>
  <%= content_tag "div", id: id, class: "site-message site-message-#{message[:service_data][:type]}" do %>
    <div class="container-fluid">
      <p><%= t(message[:service_data][:message]) %></p>
      <%= content_tag "button", class: "dismiss site-message-dismiss", "data-dismiss" => id do %>
        <span>Dismiss</span>
      <% end %>
    </div>
  <% end %>
<% end %>
