<div class="site-message site-message-warning" id="site-message-1">
  <div class="contianer-fluid">
    <p>
      PubMed is experiencing outages. For those services, please try back later.
    </p>
    <button class="dismiss site-message-dismiss" data-dismiss="site-message-1"><span>Dismiss</span></button>
  </div>
</div>
