<div class="site-message site-message-info" id="survey-message-1">
  <div class="container-fluid">
    <p>
      How is MGet It working for you? Let us know <a href="https://umich.qualtrics.com/SE/?SID=SV_6rGUdFfku3aiEvP" class="underline">in this 2-minute survey</a>.
    </p>
    <button class="dismiss site-message-dismiss" data-dismiss="survey-message-1"><span>Dismiss</span></button>
  </div>
</div>
